@inherits LayoutComponentBase

<FluentDesignTheme StorageName="theme" />

<FluentLayout>
    <FluentHeader>
        <NavLink href="" class="brand" Match="NavLinkMatch.All">
            <span class="brand-icon">🎯</span>
            <span class="brand-name">Dart Tracker</span>
        </NavLink>
        <FluentSpacer />
        <NavLink href="matchday" class="header-nav-link">
            📋 Match Night
        </NavLink>
        <NavLink href="config" class="header-nav-link">
            ⚙️ Settings
        </NavLink>
    </FluentHeader>
    <FluentBodyContent>
        <FluentStack HorizontalAlignment="HorizontalAlignment.Center" Style="width: 100%; padding: 0;">
            <div class="app-content">
                @Body
            </div>
        </FluentStack>
    </FluentBodyContent>
</FluentLayout>

<FluentToastProvider />
<FluentDialogProvider />
